body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
}

form {
    padding: 35px;
    width: 350px;
    background-color: rgba(10, 10, 10, 0.75);
    color: white;
    border-radius: 15px;
    box-shadow: 0 15px 35px 5px rgba(54, 54, 54, 0.349);
}

form a {
    text-decoration: none;
}